<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="https://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
